{% extends "base.html" %}
{% block content %}
<h1>ユーザー一覧</h1>
<a href="/create" role="button">新規登録画面</a>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ユーザー名</th>
                    <th>年齢</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.age}}</td>
                    <td><a href="/{{user.id}}/update" role="button">編集</a></td>
                    <td><a href="/{{user.id}}/delete" role="button">削除</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}